body{
    background-color: lemonchiffon;
}
.jumbotron {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 30%;
    background-color: violet;
    border-radius: 20px;
}
.divider {
    border-left: 1px solid black;
    height: 20px;
}
.links {
    margin-left: 5%;
}
.main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

#line {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    width: 100%;
}

#ugly-image {
    width:50%;
    height: 50%;
}

.modal-body {
    width:190%;
}
